@import "../../_mantine.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navlinks {
  @include light {
    & button {
      color: black;

      @include hover {
        color: var(--mantine-color-logo-orange-5);
      }
    }
  }

  @include dark {
    & button {
      color: var(--mantine-color-orange-5);

      @include hover {
        color: var(--mantine-color-orange-2);
      }
    }
  }
}

.logo-text {
  & span {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: em(20px);
  }
}
